/* This is a Comment in CSS*/
/*Here we are using external CSS*/
body{
    background-color: thistle;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    text-align: center;
}
#main > p{ /*This is an example of child Selector*/
    color:rgb(58, 0, 113);
    font-weight: 500;
}
#table th{/*This is an example of descendant selector*/
    background-color: rgb(244, 244, 117);
    font-size: large;
    
}
/*pseudo selector*/
a:visited{ /*Link that is visited*/
    color: rgb(2, 4, 117);
}
a:link{ /*link that is not visited*/
    color: purple
}
a:active{/*css applied when a link is presses*/
    color: rgb(233, 233, 203);
}
a:hover{/* css applied when cursor is moved over the text*/
    background-color: rgb(115, 65, 207);
}
#table td{
    background-color: rgb(145, 227, 227);
}
ol > li:first-child{ 
    background-color: yellow;
}
label{
    font-weight: bold;
}
/*Height of an element includes only the content i.e not the padding and border..
when we do box-sizing:border-box we make the height of an element = content + padding + border of the element*/
#form{
    font-size: large;
    background-color: white;
    border: 2px solid black;
    padding: 2%;
    margin: 2%;
    /* height: 400px;
    box-sizing: border-box; */
}
#box{
    border: 2px solid blueviolet;
    background-color: bisque;
}